/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.class
/.lein-*
/.nrepl-port
*~
*.cljs
/src/*.clj
/src/*/*.clj
/test/*.clj
/test/funcgo/clojure_cookbook_test.clj
/test/funcgo/compiler_test.clj
/test/funcgo/goscript_test.clj
/test/funcgo/fundamental_test.clj
